<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" name="" content="text/html;charset=UTF-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/static/base.css">
        <link ref="">
    </head>
    <body>
        <nav class="home_nav">
            <header>
                Welcome to my site!
            </header>
            <ul>
                <li><a href="/blog/">A Blog</a></li>
                <li><a href="#">PlaceHolder</a></li>
            </ul>

        </nav>
    </body>
</html>
