<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" name="" content="text/html;charset=UTF-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/static/base.css">
    </head>
    <body>
        <nav class="home_nav">
            <header>
                Site Map
            </header>
            <ul>
                <li><a href="/lists/home">A To-Do List</a></li>
                <li><a href="#">A Blog</a></li>
            </ul>

        </nav>

    </body>
</html>
